<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
       <div class="navbar">
           <div class="navbar-brand">
               <img src="~/logo.png" width="50px" asp-append-version=true />
           </div>
           <ul>
                <li><a href="~/persons/index">Persons</a></li>
            </ul>
       </div>   
       <div class="page-content">
           @RenderBody()
       </div>
    </div>
    @RenderSection("scripts", required:false);
</body>
</html>
