@model IEnumerable<Category>;
@{
    ViewBag.PageTitle = "Categories Management";
    ViewBag.Title = "Categories Home";
}
<div>
    <a href="../category/create" class="btn btn-primary">Create</a>
</div>
<br />
<table class="table table-hover w-100">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Date Created</td>
        <td>Actions</td>
    </tr>
    
    @foreach (var category in Model)
    {
        <tr>
        <td>@category.Id</td>
        <td>@category.Name</td>
        <td>@category.Description</td>
        <td>@category.CreatedTime</td>
        <td>
            <a href="../Category/Edit/@category.Id" class="btn btn-success">Edit</a>
            <a href="../Category/Delete/@category.Id" class="btn btn-danger">Delete</a>
        </td>
        </tr>
    }
   
    
    
</table>


